@import "./utils";
@import "./z-index";

.app {
  font-family: sans-serif;
  text-align: center;
  position: relative;

  .red {
    @include elementStyle(100px, 10px, red);
    z-index: z(project-covers);
  }

  .orange {
    @include elementStyle(100px, 20px, orange);
    z-index: z(modal);
  }

  .yellow {
    @include elementStyle(100px, 30px, yellow);
    z-index: z(sorting-bar);
  }

  .green {
    @include elementStyle(100px, 40px, green);
    z-index: z(user-tooltip);
  }

  .blue {
    @include elementStyle(100px, 50px, blue);
    z-index: z(a);
  }
}
